*{
    margin:0;
    padding: 0;
    font-family: "Ubuntu" sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background: url(Code.gif) no-repeat center;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header{
    background:#2c3a47;
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 8px;
    background:linear-gradient(130deg, #74b9ff,#e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
    25%{
        background-position: left bottom;

    }
      50% {
          background-position: right bottom;
          
    }
      75% {
          background-position: right top;

    }
      100%{
          background-position: left top;

    }
    
}

.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.desc{
    font-size: 18px;
    color: red;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    from {
      color: #0e0e0f;
    }
    10% {
      color: #fafafa;
    }
    50% {
      color: #ff0000;
    }
    75% {
      color: #fbff05;
    }
    100% {
      color: #02ff17;
    }
  }

.sm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a{
    color: white;
    width: 56px;
    font-size: 22px;
    transition: .3s linear;
}

.sm a :hover{
    color: red;
}

.contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: red;
    border:2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}

.contact-btn:hover{
    background: red;
    color: white;
}
.card-footer{
    background: white;
    padding: 60px 10px;
}

.border{
    width: 1px;
    height: 30px;
    background: white;
}